@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


body {
    background-color: rgba(149, 220, 255, 0.445);
}

header {
    background-color: rgba(120, 196, 221, 0);
    padding: 1px;
    width: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    border-radius: 5px;
}

.instagram {
    margin-top: -140px;
    position: absolute;
    margin-left: 1260px;
    color: rgba(34, 128, 179);
}

.facebook {
    margin-top: -140px;
    position: absolute;
    margin-left: 1300px;
    color: rgba(34, 128, 179);
}



.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }


.logo {
    width: 13%;
    margin-left: 100px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: -19px;
}

.menu {
    margin-left: 770px;
    display: inline-block;
    width: 3.5%;
    margin-top: 40px;
    margin-bottom: 63px;
    position: absolute;
}

.foto_publicidad {
    width: 80%;
    border-radius: 10px;

    margin-bottom: 90px;
    margin-right: auto;

    margin-left: 150px;
}

.pregunta {
    width: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    margin-left: 220px;

    display: inline-block;
    margin-bottom: 200px;
    color: rgba(34, 128, 179);
}

.conocer {
    width: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin-left: 230px;
    display: inline-block;
    background-color: rgb(118, 192, 219);
    padding: 15px;
    width: 15%;
    border-radius: 100px;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 250px;
    margin-right: 250px;
    color: rgba(34, 128, 179);
    padding-top: 60px;
    border-top: rgba(118, 192, 219) solid 3px;
    margin-bottom: 60px;
    margin-top: 240px;
    width: auto;
}

.titulo1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 250px;
    font-weight: 500;
    width: auto;
    font-size: inherit;
    display: inline-block;
    border-radius: 5px;
}

.titulo2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 293px;
    font-weight: 500;
    width: auto;
    font-size: inherit;
    display: inline-block;
    border-radius: 5px;
}

.titulo3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 173px;
    font-weight: 500;
    width: auto;
    font-size: inherit;
    display: inline-block;
    border-radius: 5px;
}

.titulo4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 250px;
    font-weight: 500;
    width: auto;
    font-size: inherit;
    display: inline-block;
    border-radius: 5px;
}

.titulo5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 233px;
    font-weight: 500;
    width: auto;
    font-size: inherit;
    display: inline-block;
    border-radius: 5px;
}

.titulo6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 195px;
    font-weight: 500;
    width: auto;
    font-size: inherit;
    display: inline-block;
    border-radius: 5px;
}

.precio1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 250px;
    font-weight: 500;
    width: auto;
    font-size: inherit;
    display: inline-block;
    border-radius: 5px;
    margin-top: 5px;
}

.precio2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 302px;
    font-weight: 500;
    width: auto;
    font-size: inherit;
    display: inline-block;
    border-radius: 5px;
    margin-top: 5px;
}

.precio3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 292px;
    font-weight: 500;
    width: auto;
    font-size: inherit;
    display: inline-block;
    border-radius: 5px;
    margin-top: 5px;
}

.producto_1 {
    margin-left: 250px;
    width: auto;

    display: inline-block;
    border-radius: 5px;
}

.producto_2 {
    position: relative;
    width: auto;

    margin-left: 50px;
    border-radius: 5px;
}

.producto_3 {
    margin-left: 50px;

    border-radius: 5px;
    display: inline-block;
    width: auto;
}

.producto_4 {
    position: relative;
    margin-left: 250px;
    border-radius: 5px;
    width: auto;
    margin-top: 70px;
}

.producto_5 {
    margin-left: 50px;

    border-radius: 5px;
    display: inline-block;
    width: auto;
}

.producto_6 {
    margin-left: 50px;

    border-radius: 5px;
    display: inline-block;
    width: auto;
}

.promocion_1 {
    margin-left: 250px;
    width: auto;

    display: inline-block;
    border-radius: 5px;
}

.promocion_2 {
    position: relative;
    width: auto;

    margin-left: 50px;
    border-radius: 5px;
}

.promocion_3 {
    margin-left: 50px;

    border-radius: 5px;
    display: inline-block;
    width: auto;
}

.promocion_4 {
    position: relative;
    margin-left: 250px;
    border-radius: 5px;
    width: auto;
    margin-top: 280px;
}

.promocion_5 {
    position: relative;
    width: auto;

    margin-left: 50px;
    border-radius: 5px;
}

.promocion_6 {
    position: relative;
    width: auto;

    margin-left: 50px;
    border-radius: 5px;
}