.columna__01 {
    background-color: none ;
}

.columna__02 {
    background-color:none ;
    
}

.columna__03 {
    background-color:none;
}
.columna__04{
  background-color: none;
}
.padding__vertical {
padding: 20px 0px ;
background-color: none;
}

.columna__02 img {
    width: 100%;
    
}

.columna__02 p{
    font-size: 12px;
}

.columna__01 h2{
    font-size: 12px;
   
}

.columna__02 h4{
    font-size: 15px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.ig{
    margin-left: 25%;
    margin-top: 15%;
}

.fb{
    margin-left: 25%;
    margin-top: 15%;
}

.columna__04 img {
    width: 100%;
}

.columna__04 p{
    font-size: 12px;
    margin-top: 5%;
    border-bottom: rgb(0, 0, 0) solid 1px;
    padding-bottom: 15%;
    margin-bottom: 15%;
    
}

.linea{
    border-bottom: rgb(0, 0, 0) solid 1px;
    padding-bottom: 2%;
    margin-bottom: 2%;
   
}








